.testimonial {
      position: relative;
      padding: 6rem 4rem;
      min-width: 300px;
      width: 100%;
      max-width: 500px;
      background: #FAFAFA;
      display: inline-block;
      img {
            position: absolute;
            right: 2rem;
            transform: translateY(-4rem)
      }
}

@media screen and (min-width: 700px) {
      .testimonial {
            width: 500px;
      }
}